@font-face {
    font-family: 'Alimama-dkai';
    src: url("./Alimama_DongFangDaKai_Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alimama-fangyuan';
    src: url("./AlimamaFangYuanTiVF-Thin.ttf");
    font-weight: normal;
    font-style: normal;
}

